html {
  width: 980px;
}

body {
  
  background-image: url("img/salmon.png") repeat;

}


table {
  border: 1px solid black;
  text-align: center;
  width:100%;
}
th, td {
  border: 1px solid black;
  text-align: center;
}